<!-- gui_buttons.html -->

<a href="{{ url_for('homepage') }}"><button>Home</button></a>
<a href="{{ url_for('material_inventory') }}"><button>Material Inventory</button></a>
<a href="{{ url_for('recipes') }}"><button>Recipes</button></a>
<a href="{{ url_for('human_labor_surcharges') }}"><button>Human Labor Surcharges</button></a>
<a href="{{ url_for('machine_inventory') }}"><button>Machine Inventory</button></a>
<a href="{{ url_for('billing_orders') }}"><button>Billing Orders</button></a>
<a href="{{ url_for('generate_bill') }}"><button>Generate Bill</button></a>
<a href="{{ url_for('restock_material') }}"><button>Restock</button></a>
